.cookie {
  display: grid;
  grid-template-columns: 1fr min-content;

  background-color: var(--beta);
  color: var(--delta);
  padding: 12rem;
  position: fixed;
  width: 100%;
  bottom: 40rem;

  a {
    text-decoration: underline;
  }
}
