.form {
  &__checkbox {
    margin-top: 5rem;
  }

  &__textarea {
    width: 100%;
    height: 200rem;
  }

  &__select {
    width: 100%;
    height: 40rem;
    font-size: 16rem;
    color: var(--alpha);
  }

  &--page {
    padding: 10rem;

    footer {
      font-size: 14rem;
      text-align: center;
      margin-top: 10rem;
      a {
        text-decoration: underline;
        color: var(--beta);
      }
    }
  }

  &__group {
    margin-top: 8rem;

    &--page {
      margin-bottom: 20rem;
    }
  }

  &__label {
    font-size: 17rem;
    font-weight: bold;
    color: var(--gamma);

    &--light {
      color: var(--light);
    }
  }

  &__field {
    width: 100%;
    height: 40rem;
    padding: 10rem;
  }

  &__btn {
    background-color: var(--contrast);
    border: none;
    width: 100%;
    color: var(--light);
    font-weight: bold;
    padding: 8rem;
  }

  @include respond-to("small") {
    display: flex;
    align-items: flex-end;

    &--page {
      max-width: 500rem;
      background-color: var(--light);
      display: block;
      padding: 10rem 10rem 10rem 20rem;
      margin: 20rem auto;
    }

    &__group {
      margin-right: 10rem;
    }

    &__field {
      min-width: 350rem;
    }

    &__btn {
      padding: 11rem 15rem;
    }
  }
}
