.nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, min-content);

  background-color: var(--alpha);

  &_lblock {
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    align-items: center;
    padding: 12rem;
  }

  &_icons {
    grid-row: 1/2;
    grid-column: 3/4;

    display: flex;
    align-items: center;
    padding: 12rem;
    li {
      margin-left: 20rem;
    }
  }

  &_dropl {
    grid-row: 2/3;
    grid-column: 1/-1;

    background-color: var(--light);
    display: none;
  }

  &_hamburger {
    margin-right: 10rem;
  }

  &_logo {
    color: var(--delta);
    font-weight: bold;
  }

  &_savedcount {
    position: absolute;
    padding: 2rem 6rem 3rem 6rem;
    border-radius: 60%;
    background-color: var(--alert);
    color: var(--delta);
    border: 1px var(--delta) solid;
    font-size: 10rem;
    font-weight: bold;
    display: inline-block;
    transform: translate(-5rem, -10rem);
  }

  &_toggle:checked ~ &_dropl {
    display: block;
    li {
      padding: 15rem 10rem;
      border-bottom: 1px var(--delta) solid;
    }
  }

  @include respond-to("small") {
    grid-template-columns: 1fr min-content minmax(590rem, auto) min-content 1fr;

    &_lblock {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &_dropl {
      grid-row: 1/2;
      grid-column: 3/4;

      display: flex;
      align-items: center;
      background-color: var(--alpha);
      color: var(--delta);
      li {
        margin-left: 20rem;
      }
    }

    &_icons {
      grid-row: 1/2;
      grid-column: 4/5;
    }

    &_hamburger {
      display: none;
    }
  }
}
